/* Background */

body{
    
    background-image: url(/images/background_1.webp);
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        text-align: center;
        color: var(--background);
        z-index: -1;
        height: 100%;
        
        
        
        
        
}


/* Heading */

.frontsite_heading{
    font-family: 'Open+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: start;
    color: var(--whitetext);
    margin-left: 1.3rem;
    margin-top: 6rem;
}

.name_heading{
    font-family: 'Rasa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
    font-style: italic;
    color: var(--whitetext);
    margin-left: 1.3rem;
    
}

.portfolio_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.button_container{
    display: flex;
}



@media screen and (min-width: 820px) {
    .portfolio_heading{
    margin-top: 9rem;
    margin-left: 44rem;

    }

    .frontsite_heading{
        margin-left: 4.3rem;
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .name_heading{
        margin-left: 4.3rem;
        font-size: 2rem;
        margin-top: 0;
     
    }
}

@media screen and (min-width: 1024px) {

    .frontsite_heading{
        font-size: 4rem;
        margin-top: 3rem;
        margin-bottom: 0.5rem;
    }

    .name_heading{
        font-size: 3rem;
        margin-top: 5rem;
        margin-top: 0;
    }


}

@media screen and (min-width: 1440px) {
   
    .frontsite_heading{
        font-size: 5rem;
        margin-top: 5rem;
        
    }

    .name_heading{
        font-size: 4rem;
        margin-top: 5rem;
        margin-top: 0;
        margin-bottom: 0;
    }


}

 /* Headings */

 .portfolio_heading{
    font-family: 'Opem+sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
    rotate: -90deg;
    margin-top: 9rem;
    margin-left: 20rem;
    color: var(--text);
    

}



@media screen and (min-width: 820px) {

    .portfolio_heading{
        margin-bottom: 15rem;
    margin-left: 31rem;
    
    }

    
}


@media screen and (min-width: 1440px) {
    .portfolio_heading{
        margin-left: 75rem;
        font-size: 2rem;
        margin-bottom: 18rem;
        margin-right: 0;
        margin-top: -10rem;
        
        }
        
        
        .portfolio_container{
            margin-bottom: 20rem;
            
        }
}

  /* Button */

  .button_container{
    display: flex;
}

.button{
    width: 10%;
    margin-bottom: 2rem;
    cursor: pointer;
}

.button_2{
  width: 10%;
    cursor: pointer;
    margin: 3rem;
}

 @media screen and (min-width: 820px) {
    .button{
  
        width: 5%;
    }

    .button_2{
        width: 5%;
    }
} 



@media screen and (min-width: 1140px) {

   .button{
    margin-top: 0;
    width: 5%;
    margin-bottom: 3rem;
   }

}


