
/* General */

:root {
    --background: #ECE5D9;
    --text: #857C7C;
    --whitetext: #ffff;
  }

  body{
    max-width: 1440px;
  }
  




/* Navbar */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    font-family: "Rasa", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: uppercase;
  }
 
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-left: 300px;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
  }
  
  .menu li {
    margin-right: 20px;
    text-align: start;

  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    color: #F4B43E;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
    font-weight: 500;
  }
  
  .menu a:hover {
    color: #EE918E;
  }
  
  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: block;
      z-index: 20;
      margin-left:  -2rem;
      margin-top: 3rem;
  }
  
  .burger .line {
    width: 100%;
    height: 2px;
    background-color: var(--text);
    margin-bottom: 5px;
  }
  
  .menu {
    display: none;
  }

  @media screen and (min-width: 820px) {
    .burger{
    margin-left: 9rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .burger{
        margin-left: 30rem;
  }

  header {
    padding: 2rem;
  }
}

  @media screen and (min-width: 1440px) {
    .burger{
        margin-left: 47rem;
        
  }

}
 
  
  /* Animation of cross */
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .burger.active .line:nth-child(2) {
      opacity: 0;
    }
  
    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  
    nav.active .menu {
      display: block;
      background-color: #ffff;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 4;
    }
  
    nav.active .menu li {
      margin: 10px 20px;
    }
  
    nav.active .menu a {
      font-size: 20px;
    }



   
  
    /* Links */

    .link{
        font-family: 'Opem+sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: start;
        text-decoration: none;
        color: var(--whitetext);
        font-size: 2rem;
        margin-left: 1rem;
    }

    .link_emne, a{
      font-family: 'Opem+sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: start;
      text-decoration: none;
      color: #DE518E;
      font-size: 1rem;
      margin-left: 1rem;
  }

  

  .link_emne, a:hover{
    color: #F4B43E;
  }

  @media screen and (min-width: 1440px) {
    .logo a{
    font-size: 4rem;
    margin-left: 9rem;
    
    
    }

    .link_emne, a{
      font-size: 2rem;
    }

}



  

   


    
  

    