
/* Background */

body{
    
    background-image: url(/images/background_3.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        color: var(--background);
        z-index: -1;
        height: 100%;
        margin: 0 auto;
        
        
        
        
        
}

/* Paragraph */

.paragraph{
    font-family: 'Rasa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    text-align: start;
    color: var(--whitetext);
    margin: 1rem;
    background-color: rgba(247, 213, 248, 0.3);
      border-radius: 5px;
    padding: 2rem;
}

.paragraph_2{
    font-family: 'Rasa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    text-align: start;
    color: var(--whitetext);
    margin: 3rem;
    background-color: rgba(247, 213, 248, 0.3);
    border-radius: 5px;
    padding: 2rem;

}

@media screen and (min-width: 820px) {
.paragraph{
    font-size: 2rem;
  }

  .paragraph_2{
    font-size: 3rem;
  }
}

/* Heading */

.topic_heading{
    font-family: 'Open+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: start;
    color: var(--whitetext);
    margin-left: 1.3rem;
    margin-top: 6rem;
}


.subtitles{
    font-family: 'Open+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: start;
    font-size: 1rem;
    color: var(--whitetext);
    margin-top: 0;
    margin-left: 5rem;
}

.heading_topics{
    font-family: 'Open+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    color: var(--whitetext);
    margin: 1rem;
    margin-bottom: 2rem;

}

.heading_topics_2{
    font-family: 'Open+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    color: var(--whitetext);
    margin: 1rem;
    margin-bottom: 2rem;
}

.heading_topics_3{
    font-family: 'Open+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    color: var(--whitetext);
    margin: 3rem;
    
   

}

.heading_topics_5{
    font-family: 'Open+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    color: var(--whitetext);
    
    margin-top: 5rem;
    
   

}






@media screen and (min-width: 820px) {
    .topic_heading{
        text-align: start;
        color: var(--whitetext);
        margin-left: 10rem;
        margin-bottom: 1rem;
        font-size: 4rem;
        margin-top: -1rem;
    }

    .subtitles{
        text-align: start;
        font-size: 2rem;
        color: var(--whitetext);
        margin-top: 0;
        margin-left: 20rem;
        font-size: 1.5rem;
        padding: 0;
    }

    .heading_topics{
        
        text-align: start;
        font-size: 4rem;
    
    
    }

    .heading_topics_2{
        text-align: start;
        font-size: 2rem;
    }

    .heading_topics_3{
        font-size: 3rem;
    }

   
}

@media screen and (min-width: 1440px) {
    .heading_topics_3{
        text-align: start;
    }
        .heading_topics_5{
            text-align: start;
            font-size: 2rem;
            margin-left: 0;
}
}


    /* Headings */

    .portfolio_heading{
        font-family: 'Opem+sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: start;
        rotate: -90deg;
        margin-top: 9rem;
        margin-left: 20rem;
        color: var(--whitetext);
        
    
    }

    .portfolio_heading_2{
        font-family: 'Opem+sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: start;
        rotate: -90deg;
        margin-top: 9rem;
        margin-left: 20rem;
        color: var(--whitetext);
    }

    @media screen and (min-width: 820px) {

        .portfolio_heading{
            margin-bottom: 14rem;
          margin-left: 29rem;

        
        }

        .portfolio_heading_2{
            margin-top: 0;
            margin-left: 43rem;
        }
        
    }


    @media screen and (min-width: 1440px) {
        .portfolio_heading{
            margin-left: 75rem;
            font-size: 3rem;
            margin-bottom: 3rem;
            margin-right: 0;
            margin-top: 0;
            
            }
            
            
            .portfolio_container{
                margin-bottom: 20rem;
                
            }
    }



 /* Lists */

 ul{
    list-style: none;
    padding: 0;
    margin-left: 0;
}

li{
    text-align: start;
    margin-bottom: 10px;
    margin-left: 5rem
}

li a{
    
    color: var(--whitetext);
    text-decoration: none;
    font-family: 'Rasa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
   
  }
  
  li a:hover {
    background-color: #ddd;
  }

  .list_feedback_2{
    margin-left: 0;
    font-family: 'Rasa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    text-align: start;
    color: var(--whitetext);
    

}

.list_feedback{
    
   
      border-radius: 5px;
    padding: 2rem;
    
}
  

  @media screen and (min-width: 820px) {
    li{
        text-align: start;
        margin-left: 30rem;
  }

  .list_feedback_2{

    font-size: 2rem;

  }

  



  li a{
    
    color: var(--whitetext);
  }

  }

@media screen and (min-width: 1440px) {
    li a{
        font-size: 2rem; 
    }
}


/* Grids */

.grid-container {
    display: grid;
}

.img{
    width: 80%;
    margin: 0 auto;
}

.img_2{
    width: 70%;
    margin: 5rem auto;
   } 

.img_3{
    width: 70%;
    margin: 0 auto;
}

.img_4{
    width: 50%;
    margin: 0 auto;
}

.img_5{
    width: 80%;
    margin: 0 auto;
}


.column_2 {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.column_3 {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

@media screen and (min-width: 1024px) {

.grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .column {
    padding: 10px;
}

.column_3{
    margin-left: 5rem;
}



    .img{
        margin-top: 8rem;
        width: 100%;
    }

    .img_5{
        width: 100%;
        margin-top: 1rem;
    }
      
     
   
  }

  

  .sketch{

    width: 90%;
    margin: 0 auto;

  }

/* Video */

@media screen and (min-width: 820px) {
.sketch{
    width: 100%;
    
   
}
}

/* Images */



.profilbillede{
    width: 90%;
    margin: 0;
    
}


  /* Button */

  .button_container{
    display: flex;
}

.button{
    width: 10%;
    margin-bottom: 2rem;
    cursor: pointer;
}

.button_2{
  width: 10%;
    cursor: pointer;
    margin: 3rem;
}

 @media screen and (min-width: 820px) {
    .button{
  
        width: 5%;
    }

    .button_2{
        width: 5%;
    }
} 



@media screen and (min-width: 1140px) {

   .button{
    margin-top: 3rem;
    width: 5%;
    margin-bottom: 3rem;
   }

}

 /* Logo */

   

 .logo a{
    font-family: 'Rasa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--whitetext);
    margin-left: 2rem;
}

@media screen and (min-width: 820px) {
    .logo a{
        
        font-size: 3rem;
        margin-left: 1rem;
        
    }
}

@media screen and (min-width: 1024px) {
    .logo a{

    font-size: 4rem;
    margin-left: 9rem;
    
    }
}



